<div class='container'>

  <div class='row mb-5' name='topRow' align='center'>

    <div class='col'>

      <img src='./assets/img/burgertoon.gif' alt="yummy burger pic" width="200">

      <h1>It's Burger Time!</h1>

    </div>

  </div>


  <div class='row' name='mainContentRow'>

    <div class='col-4'>

      <p class="text-center">Burgers waiting to be devoured:</p>

      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}


      </ul>

    </div>

    

    <div class='col-4 text-center'>


      <small>Enter a burger name and click 'Make It!'</small>
      <form class="create-form">

        <div class="form-group">
          <input type="text" id="ca" name="name" placeholder='Burger Name'>
        </div>


        <button type="submit" class="btn btn-danger">Make It!</button>
      </form>

    </div>



    <div class='col-4'>


      <p class="text-center">Burgers that have been devoured</p>

      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
      </ul>

    </div>


  </div>