li {
    padding: 5px;
    margin: 5px;
    background: #ffc06d;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  body {
    background-color: #fff8b4 !important;
  }