<li class='text-right'>
	{{burger_name}}



	<button class="change-devoured btn btn-success text-right" data-id="{{id}}" data-newstate="{{devoured}}">
		{{#if devoured}}Eat It!{{else}}Del-eat it!{{/if}}
	</button>

</li>


